<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}

<div class="art-requirements-content page-width page-width--narrow section-{{ section.id }}-padding">
  <div class="rte">
    <div class="art-requirements-content">
      <div class="art-requirments--inner">
        <h1>Art Requirements</h1>
        <p>To ensure you get a great final product take the time to prepare your artwork for printing following these guidelines.</p>
      </div>
    </div>
    <div class="art-requirements-content art-requirements-2-column">
      <div class="art-requirments--inner art-requirment-2-column--inner">
        <div class="art-requirments-2-column-content">
          <h1>Print Ready Artwork</h1>
          <p>Print ready art must be submitted in these formats:<br><strong>Vector Files</strong> - .ai .pdf .eps .svg <br><strong>Raster Files</strong> - .psd .png .jp<br>Raster Files must be 300dpi to print size or larger</p>
        </div>
        <div class="art-requirments-2-column-content">
          <h1>Non Print Ready Artwork</h1>
          <p>Avenir Light is a clean and stylish font favored by designers. It's easy on the eyes and a great go to font for titles, paragraphs & more.</p>
        </div>    
      </div>
    </div>
    <div class="art-requirements-content art-requirements-3-column">
      <div class="art-requirments--inner art-requirment-3-column--inner">
        <div class="art-requirments-3-column-content">
          <h1>Raster Vs Vector</h1>
          <p>Raster files are made up of pixels which can not be increased in size without degrading quality, which is why we prefer vector files for screen printing and embroidery. Vector files are made up of equations making them infinitely scalable, without losing quality. Raster files must be 300dpi to print size or larger.</p>
        </div>
        <div class="art-requirments-3-column-content">
          <h1>Raster File</h1>
          <img src="https://static.wixstatic.com/media/cc6998_32cd79cadc474dd9ae2919119dffc6d8~mv2.png/v1/fill/w_276,h_362,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cc6998_32cd79cadc474dd9ae2919119dffc6d8~mv2.png" alt="">
        </div>
        <div class="art-requirments-3-column-content">
          <h1>Vector File</h1>
          <img src="https://static.wixstatic.com/media/cc6998_524b0e5ab56644969691801cfb89080f~mv2.png/v1/fill/w_276,h_362,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cc6998_524b0e5ab56644969691801cfb89080f~mv2.png" alt="">
        </div>     
      </div>
    </div>
    <div class="art-requirements-content art-requirements-2-column">
      <div class="art-requirments--inner art-requirment-2-column--inner">
        <div class="art-requirments-2-column-content">
          <h1>Outline Fonts</h1>
          <p>To open files with fonts we don’t have, you need to create outlines around the fonts. Simply right click the text and hit create outline, or expand your file in the object menu. This ensures the fonts will print how they were intended</p>
        </div>
        <div class="art-requirments-2-column-content">
          <img src="https://static.wixstatic.com/media/cc6998_cdd45d388f8b4bafa5afe3e6c7fd7df4~mv2.jpg/v1/fill/w_940,h_388,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cc6998_cdd45d388f8b4bafa5afe3e6c7fd7df4~mv2.jpg" alt="">
        </div>    
      </div>
    </div>
    <div class="art-requirements-content art-requirements-2-column">
      <div class="art-requirments--inner art-requirment-2-column--inner">
        <div class="art-requirments-2-column-content">
          <h1>Include Pantone Colors</h1>
          <p>We use Pantone Solid Coated for matching colors of ink and thread to your design. To get the most accurate reproduction include the pantone colors in your file.</p>
          <p>You can easily convert a pantone color in illustrator and photoshop but it’s always recommended to check it to the physical pantone book since screens all display differently.</p>
        </div>
        <div class="art-requirments-2-column-content">
          <h1>Minimum/Max Print Size</h1>
          <p>For the best results check your fonts are no smaller than 8pt, and lines no thinner than 1 pt. Inverse art and negative space text need even larger sizes to print well.</p>
          <p>It is helpful to print your design out to size if it has small elements to make sure they will look good when printed and legible from a distance.</p>
        </div>    
      </div>
    </div>
    <div class="art-requirements-content">
      <div class="art-requirments--inner">
        <h1>Art Time</h1>
        <p>OSI has a full graphic design department. If you don’t have artwork, or your art is not print ready, we can create or re-create for you on an hourly basis. Any artwork that is not print ready can incur an hourly art charge. From a sketch on a napkin, to editing a photo for screen print, OSI can bring your great ideas to life.</p>
        <p>You can easily convert a pantone color in illustrator and photoshop but it’s always recommended to check it to the physical pantone book since screens all display differently.</p>   
      </div>
    </div>
    <div class="art-requirements-content art-requirements-3-column">
      <h1>Examples:</h1>
      <div class="art-requirments--inner art-requirment-3-column--inner">
        <div class="art-requirments-3-column-content">
          <img src="https://static.wixstatic.com/media/cc6998_0350257d8ce246af9c444631bd2bb0bc~mv2.png/v1/fill/w_542,h_576,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cc6998_0350257d8ce246af9c444631bd2bb0bc~mv2.png" alt="">
        </div>
        <div class="art-requirments-3-column-content">
          <img src="https://static.wixstatic.com/media/cc6998_c5a3af3e395949779e7f24eb1cfa7a7d~mv2.png/v1/fill/w_542,h_576,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cc6998_c5a3af3e395949779e7f24eb1cfa7a7d~mv2.png" alt="">
        </div>
        <div class="art-requirments-3-column-content">
          <img src="https://static.wixstatic.com/media/cc6998_515aac7cd8224290be1f61f69b3879d1~mv2.png/v1/fill/w_590,h_576,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cc6998_515aac7cd8224290be1f61f69b3879d1~mv2.png" alt="">
        </div>     
      </div>
    </div>
    <div class="art-requirements-content">
      <div class="art-requirments--inner">
        <h1>Simulated Color Seperations</h1>
        <p>To reproduce photographic or full color images we must create simulated color separations. This is an additional cost from art time or screen setups to prepare the artwork for printing.</p>
        <p>Simulated Color Separations are charged per color and are typically 7-10 colors to reproduce an image.</p>   
      </div>
    </div>
    <div class="art-requirements-content art-requirements-3-column">
      <h1>Examples:</h1>
      <div class="art-requirments--inner art-requirment-3-column--inner">
        <div class="art-requirments-3-column-content">
          <img src="https://static.wixstatic.com/media/cc6998_0350257d8ce246af9c444631bd2bb0bc~mv2.png/v1/fill/w_542,h_576,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cc6998_0350257d8ce246af9c444631bd2bb0bc~mv2.png" alt="">
        </div>
        <div class="art-requirments-3-column-content">
          <img src="https://static.wixstatic.com/media/cc6998_c5a3af3e395949779e7f24eb1cfa7a7d~mv2.png/v1/fill/w_542,h_576,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cc6998_c5a3af3e395949779e7f24eb1cfa7a7d~mv2.png" alt="">
        </div>
        <div class="art-requirments-3-column-content">
          <img src="https://static.wixstatic.com/media/cc6998_515aac7cd8224290be1f61f69b3879d1~mv2.png/v1/fill/w_590,h_576,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cc6998_515aac7cd8224290be1f61f69b3879d1~mv2.png" alt="">
        </div>     
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
  {
    "type": "header",
    "content": "t:sections.all.padding.section_padding_heading"
  },
  {
    "type": "range",
    "id": "padding_top",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_top",
    "default": 36
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_bottom",
    "default": 36
  }
  ]
}
{% endschema %}