<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}

<div class="screenprinting-service-content page-width page-width--narrow section-{{ section.id }}-padding">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    <div class="service-page-tagline--container">
      <h1 class="service-page-tagline--tagline">Let's Raise Some Money</h1>
    </div>
    <div class="fundraiser-page-content">
      <div class="fundraiser-2-column fundraiser-lcolumn">
        <div class="fundraising-item">
          <div class="fundraiser-item--heading">
            <h3>Save Time</h3>
          </div>
          <div class="fundraising-item--content">
            <p>Handling checks and cash, counting sizes, making sure names and numbers are correct. What a hassle. Let your customers place their own orders online, on their terms. Online stores save organizations more than 5 hours of work compared to a typical custom order.</p>
          </div>
        </div>
        <div class="fundraising-item">
          <div class="fundraiser-item--heading">
            <h3>Save Money</h3>
          </div>
          <div class="fundraising-item--content">
            <p>Not sure how many uniforms you'll actually need? Think grandma might want a shirt, too? Online stores offer you ultimate flexibility on who, where, when and what you sell. We let anyone order your custom merchandise and customize it too!</p>
          </div>
        </div>
        <div class="fundraising-item">
          <div class="fundraiser-item--heading">
            <h3>Simplify Delivery</h3>
          </div>
          <div class="fundraising-item--content">
            <p>Don't want to check the sizes on dozens of shirts? Hate chasing down that one person that never picks up their uniform? Let us bag, tag and ship your orders. Stores offer clarity about deadlines. You always know when your merchandise is going to arrive.</p>
          </div>
        </div>
        <div class="fundraising-item">
          <div class="fundraiser-item--heading">
            <h3>Sell More</h3>
          </div>
          <div class="fundraising-item--content">
            <p>You don't have to be an expert salesperson to make more money for your organization with online stores. We'll equip you with the messaging and resources you need to make your store a success. Not only do online stores give your organization a more professional feel, but they also widen your reach to expand your customer base.</p>
          </div>
        </div>
        <div class="fundraising-item">
          <div class="fundraiser-item--heading">
            <h3>Low Risk, Big Reward</h3>
          </div>
          <div class="fundraising-item--content">
            <p>We set up a the online store. You share it with your customers. No subscription, no wasted time, no hassle. Even a basic online store costs more than $50 a month... and you still have to pay for printing and deal with delivery.</p>
          </div>
        </div>
      </div>
        <div class="fundraiser-2-column fundraiser-rcolumn">
          <div class="rcolumn-content average-order-container">
            <h3>Average Order</h3>
            <img src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/Asset_9.svg?v=1678313034" alt="">
            <h4>Typical Process</h4>
            <p>5 hours of work for the customer</p>
            <span>VS</span>
            <img src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/Asset_10.svg?v=1678313035">
            <h4>Unique Prints Merch</h4>
            <p>Less than 1 hour of work for the customer</p>
          </div>
          <div class="lcolumn-content claim-your-stake-container">
            <h3>Claim Your Stake</h3>
            <ul>
              <li><span>of all U.S retail sales are online</span></li>
              <li><span>of shoppers make online purchases</span></li>
              <li><span>year-over-year increse in online store sales</span></li>
              <li><span>custom t-shirt industry to exceed $10B by 2025</span></li>
              <li><span>$6 trillion in sales by</span></li>
            </ul>
          </div>  
        </div>   
      </div>  
    </div>
  </div>
</div> 

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
  {
    "type": "header",
    "content": "t:sections.all.padding.section_padding_heading"
  },
  {
    "type": "range",
    "id": "padding_top",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_top",
    "default": 36
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_bottom",
    "default": 36
  }
  ]
}
{% endschema %}